@import '../../Buttons.module.scss';
@import '../../Breakpoints.module.scss';

.addPlayerFormContainer {
  width: 100%;
  padding: var(--smallSpacing);
  font-size: 1.2rem;
  font-weight: 600;
}

.formElement {
  display: block;
  margin: 0 var(--smallSpacingNeg) var(--smallSpacing) var(--smallSpacingNeg);
  padding: 0 var(--smallSpacing);
  border-bottom: 2px dashed var(--outlineAppColor);
}

.formLabel {
  margin-bottom: var(--smallSpacing);
  font-size: 1.3rem;
  display: block;
  width: 100%;
}

.inputElement {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: var(--largeSpacing);
  padding-left: var(--smallSpacing);
  margin-bottom: var(--smallSpacing);
}

.selectInput {
  background-color: var(--backgroundColorLight);
  padding: var(--smallSpacing);
}

button.addPlayerForm {
  margin-top: var(--mediumSpacing);
}