@import './Breakpoints.module.scss';
@import './Buttons.module.scss';

:root {
  //spacings
  --smallSpacing: 1rem;
  --tinySpacing: 0.5rem;
  --mediumSpacing: 2rem;
  --largeSpacing: 3rem;
  --smallSpacingNeg: -1rem;
  --tinySpacingNeg: -0.5rem;
  --mediumSpacingNeg: -2rem;
  --largeSpacingNeg: -3rem;
  --headerHeight: 75px;
  //radius and shadow
  --radius: 0.5rem;
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --desktopAppMaximumWidth: 1024px;
  //layout background colors
  --backgroundColorMedium: rgb(103, 142, 139);
  --backgroundColorLight: #eaf2ef;
  --backgroundAppColor: whitesmoke;
  --backgroundAppColorTinted: #cedbd8;
  //main app decorations
  --borderAppColor: rgb(103, 142, 139);
  --outlineAppColor: rgb(81, 123, 120);
  //primary and Secondary colors
  --primaryColor: rgb(51, 77, 77);
  --primaryColorComplementary: #486466;
  --secondaryColor: rgb(70, 26, 26);
  --secondaryColorComplementary: #791d1d;
  //playerColors
  --playerBlack: #151414;
  --playerBlueLight: #12126c9f;
  --playerRedLight: #6f07079f;
  --playerPinkLight: #e34d679f;
  --playerGreenLight: #0e37289f;
  --playerBlackLight: #1514149f;
  --playerYellowLight: #f2f2689f;
  --playerPurpleLight: #d280f09f;
  --playerOrangeLight: #dd6c1a9e;
}

.appContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.appHeader {
  width: 100%;
  min-height: var(--headerHeight);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--smallSpacing);
  padding: var(--smallSpacing);
  justify-content: space-between;
  background-color: var(--backgroundColorMedium);
  color: white;

  @media screen and (min-width: $tablet-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.appWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--desktopAppMaximumWidth);
  background-color: var(--backgroundAppColorTinted);
  min-height: 100vh;
  min-height: 100svh;
  border: var(--tinySpacing) solid var(--borderAppColor);
  outline: var(--tinySpacing) solid var(--outlineAppColor);
}